@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
		Убираем внутренние отступы слева тегам списков,
		у которых есть атрибут class
	 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
		Убираем внешние отступы body и двум другим тегам,
		у которых есть атрибут class
	 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
		Убираем внешние отступы вертикали нужным тегам,
		у которых есть атрибут class
	 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

dd {
  margin: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
		Убираем стандартный маркер маркированному списку,
		у которого есть атрибут class
	 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
		Обнуляем вертикальные внешние отступы параграфа,
		объявляем локальную переменную для внешнего отступа вниз,
		чтобы избежать взаимодействие с более сложным селектором
	 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
		Упрощаем работу с изображениями и видео
	 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
		Наследуем свойства шрифт для полей ввода
	 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
  scrollbar-gutter: stable;
}

/**
		Плавный скролл
	 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
		Нормализация высоты элемента ссылки при его инспектировании в DevTools
	 */
a:where([class]) {
  display: inline-flex;
}

/**
		Курсор-рука при наведении на элемент
	 */
button,
label {
  cursor: pointer;
}

/**
		Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	 */
svg * {
  transition-property: fill, stroke;
}

/**
		Удаляем все анимации и переходы для людей,
		которые предпочитают их не использовать
	 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-main-black: #0B1227;
  --color-black-70: #484D5B;
  --color-black-40: #83868F;
  --color-accent-blue: #3860D2;
  --color-accent-blue-15: #DFE6F8;
  --color-gray-blue-actions: #A4B4DB;
  --color-gray-20: #DDE1E6;
  --color-accent-green: #ECFFB7;
  --color-accent-green-20: #FAFEEE;
  --color-accent-green-bright: #D9F783;
  --color-main-grey-cards: #E4E4E4;
  --container-width: 2220px;
  --container-padding-x: 40px;
  --container-margin-y: 40px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-block: 40px;
}

.bg-image {
  position: absolute;
  user-select: none;
  pointer-events: none;
  max-width: none;
  height: auto;
  flex-shrink: 0;
}

body {
  background-color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  color: var(--color-main-black);
}

html {
  overflow-x: hidden;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.main .container:not(:last-child) {
  margin-bottom: var(--container-margin-y);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding-block: 32px 16px;
  z-index: 10;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0% 15%;
}
@keyframes scrolling-header {
  to {
    background-color: var(--color-black-40);
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.navigation__link {
  padding: 12px 8px;
  text-decoration: none;
  color: var(--color-main-black);
  font-weight: 600;
  white-space: nowrap;
}

.hero {
  position: relative;
  padding-block: 90px;
}
.hero__title {
  font-size: 110px;
}
.hero__info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 664px;
  padding-top: 40px;
}
.hero__info-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.hero__caption {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.hero__description {
  font-weight: 400;
  line-height: 131%;
  color: var(--color-black-70);
}
.hero__buttons {
  display: flex;
  column-gap: 32px;
  margin-top: auto;
}
@media (width <= 767px) {
  .hero__buttons {
    flex-direction: column;
    row-gap: 16px;
  }
}
.hero__socials {
  display: flex;
  column-gap: 8px;
}
.hero__button-submit {
  width: 348px;
}
.hero__button-social {
  width: 61px;
}
.hero__bg-image {
  top: -85px;
  right: -133px;
}
@media (width > 1920px) {
  .hero__bg-image {
    right: 0;
  }
}
@media (width <= 1440px) {
  .hero__bg-image {
    width: 716px;
  }
}

.logo {
  flex-shrink: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  column-gap: 4px;
  border: 1px solid var(--color-accent-blue);
  background-color: var(--color-accent-blue);
  border-radius: 99px;
  color: var(--color-white);
  font-weight: 700;
}
.button--green {
  border: 1px solid var(--color-accent-green-bright);
  background-color: var(--color-accent-green-20);
}

.block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
.block-title__label {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-black-40);
}
.block-title__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  text-align: center;
}
.block-title__title {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-black);
}
.block-title__caption {
  line-height: 131%;
}

.slider-container {
  overflow: hidden;
  border: 1px solid #c1c7cd;
  border-radius: 20px;
  height: 872px;
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.slider-pagination-custom {
  display: flex;
  gap: 8px;
}

.pagination-dot {
  width: 14px;
  height: 14px;
  background-color: var(--color-gray-20);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pagination-dot.active {
  background-color: var(--color-black-70);
  width: 38px;
  border-radius: 8px;
}
@media (hover: hover) {
  .pagination-dot:hover {
    background-color: var(--color-black-40);
  }
}
@media (hover: none) {
  .pagination-dot:active {
    background-color: var(--color-black-40);
  }
}

.slider-navigation {
  display: flex;
  gap: 12px;
}

.nav-button {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.nav-button:not(:disabled):hover {
  background: #e0e0e0;
}
.nav-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.nav-button svg {
  width: 20px;
  height: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-color: var(--color-gray-20);
}

.swiper-slide-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.about-gradient-container {
  background: linear-gradient(180deg, #fff 0%, #f4f4f4 54.26%, #fff 100%);
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.features__item {
  padding: 32px 16px;
  box-shadow: -1px 1px 2px 0 rgba(89, 89, 89, 0.05), -2px 3px 4px 0 rgba(89, 89, 89, 0.04), -5px 7px 5px 0 rgba(89, 89, 89, 0.03), -9px 13px 6px 0 rgba(89, 89, 89, 0.01), -14px 20px 7px 0 rgba(89, 89, 89, 0);
  border-radius: 16px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  min-height: 195px;
}
.features__item-content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.features__item-content h4 {
  margin: 0;
  font-weight: 500;
}
.features__item-content p {
  line-height: 131%;
  color: var(--color-black-70);
}

.advantages {
  position: relative;
  min-height: 638px;
}
@media (width <= 767px) {
  .advantages {
    min-height: auto;
  }
}
.advantages__bg-image {
  top: 40px;
  right: 0;
  transform: translateX(clamp(0px, (1920px - 100vw) * 0.5, 700px));
}
@media (width <= 767px) {
  .advantages__bg-image {
    display: none;
  }
}
.advantages__inner {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (width <= 1440px) {
  .advantages__inner {
    max-width: 50%;
  }
}
@media (width <= 767px) {
  .advantages__inner {
    max-width: 100%;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.advantages__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.how-its-work {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.how-its-work__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}
.how-its-work__item {
  width: 1300px;
  border-radius: 16px;
  box-shadow: -1px 1px 2px 0 rgba(89, 89, 89, 0.05), -2px 3px 4px 0 rgba(89, 89, 89, 0.04), -5px 7px 5px 0 rgba(89, 89, 89, 0.03), -9px 13px 6px 0 rgba(89, 89, 89, 0.01), -14px 20px 7px 0 rgba(89, 89, 89, 0);
  background: var(--color-white);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
@media (width <= 1920px) {
  .how-its-work__item {
    width: 1030px;
  }
}
@media (width <= 1440px) {
  .how-its-work__item {
    width: 900px;
  }
}
@media (width <= 1178px) {
  .how-its-work__item {
    width: 740px;
  }
}
@media (width <= 767px) {
  .how-its-work__item {
    width: 100%;
  }
}
.how-its-work__item-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.how-its-work-gradient-container {
  background: linear-gradient(180deg, #fff 0%, #f4f4f4 54.26%, #fff 100%);
}

/*# sourceMappingURL=styles.css.map */
