@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
		Убираем внутренние отступы слева тегам списков,
		у которых есть атрибут class
	 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
		Убираем внешние отступы body и двум другим тегам,
		у которых есть атрибут class
	 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
		Убираем внешние отступы вертикали нужным тегам,
		у которых есть атрибут class
	 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

dd {
  margin: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
		Убираем стандартный маркер маркированному списку,
		у которого есть атрибут class
	 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
		Обнуляем вертикальные внешние отступы параграфа,
		объявляем локальную переменную для внешнего отступа вниз,
		чтобы избежать взаимодействие с более сложным селектором
	 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
		Упрощаем работу с изображениями и видео
	 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
		Наследуем свойства шрифт для полей ввода
	 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
  scrollbar-gutter: stable;
}

/**
		Плавный скролл
	 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
		Нормализация высоты элемента ссылки при его инспектировании в DevTools
	 */
a:where([class]) {
  display: inline-flex;
}

/**
		Курсор-рука при наведении на элемент
	 */
button,
label {
  cursor: pointer;
}

/**
		Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	 */
svg * {
  transition-property: fill, stroke;
}

/**
		Удаляем все анимации и переходы для людей,
		которые предпочитают их не использовать
	 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-main-black: #0B1227;
  --color-black-70: #484D5B;
  --color-black-40: #83868F;
  --color-black-10: #C0C1C3;
  --color-accent-blue: #3860D2;
  --color-accent-blue-15: #DFE6F8;
  --color-gray-blue-actions: #A4B4DB;
  --color-gray-20: #DDE1E6;
  --color-accent-green: #ECFFB7;
  --color-accent-green-20: #FAFEEE;
  --color-accent-green-bright: #D9F783;
  --color-main-gray-cards: #E4E4E4;
  --color-red: #D73E3E;
  --container-width: 2220px;
  --container-padding-x: 40px;
  --container-margin-y: 40px;
}
@media (width <= 1920px) {
  :root {
    --container-width: 1360px;
  }
}
@media (width <= 767px) {
  :root {
    --container-padding-x: 24px;
  }
}
@media (width <= 480px) {
  :root {
    --container-margin-y: 32px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-block: 40px;
}
@media (width <= 767px) {
  .section {
    padding-block: 24px;
  }
}

.bg-image {
  position: absolute;
  user-select: none;
  pointer-events: none;
  max-width: none;
  height: auto;
  flex-shrink: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (width <= 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 1178px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width <= 900px) {
  .hidden-tablet-s {
    display: none !important;
  }
}

@media (width <= 480px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (width > 767px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width > 1178px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width > 900px) {
  .visible-tablet-s {
    display: none !important;
  }
}

@media (width > 480px) {
  .visible-mobile-s {
    display: none !important;
  }
}

body {
  background-color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  color: var(--color-main-black);
}

html {
  overflow-x: hidden;
}

a {
  color: var(--color-accent-blue);
}

h2, .h2 {
  font-size: 32px;
}
@media (width <= 767px) {
  h2, .h2 {
    font-size: 24px !important;
  }
}

h3, .h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin: 0;
}

h4, .h4 {
  font-size: 24px;
}
@media (width <= 767px) {
  h4, .h4 {
    font-size: 20px !important;
  }
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.main > :is(.container, .gradient-container):not(:last-child) {
  margin-bottom: var(--container-margin-y);
}

#about, #how-it-works, #contacts, #video, #form {
  scroll-margin-top: 100px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding-block: 32px 16px;
  z-index: 100;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0% 10%;
}
@media (width <= 1440px) {
  .header {
    padding-block: 24px 12px;
  }
}
@media (width <= 1178px) {
  .header {
    padding-block: 6px;
  }
}
@keyframes scrolling-header {
  to {
    background-color: var(--color-white);
    -webkit-box-shadow: 0px 11px 20px 0px rgba(178, 178, 178, 0.5);
    -moz-box-shadow: 0px 11px 20px 0px rgba(178, 178, 178, 0.5);
    box-shadow: 0px 11px 20px 0px rgba(178, 178, 178, 0.5);
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.navigation__link {
  padding: 12px 8px;
  text-decoration: none;
  color: var(--color-main-black);
  font-weight: 600;
  white-space: nowrap;
}

.hero {
  position: relative;
  padding-block: 90px;
}
@media (width <= 1178px) {
  .hero {
    padding-block: 24px;
  }
}
.hero__title {
  font-size: clamp(3.75rem, 2.9788961039rem + 3.2467532468vw, 6.875rem);
}
.hero__title--mobile {
  max-width: 370px;
  line-height: 100%;
}
.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
@media (width <= 767px) {
  .hero__slogan {
    font-size: 20px !important;
  }
}
.hero__info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 664px;
  padding-top: 40px;
}
.hero__info-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
@media (width <= 1178px) {
  .hero__info-container {
    row-gap: 32px;
  }
}
.hero__caption {
  font-size: 20px;
  line-height: 131%;
}
@media (width <= 767px) {
  .hero__caption {
    font-size: 16px;
  }
}
.hero__description {
  font-weight: 400;
  line-height: 131%;
  color: var(--color-black-70);
}
.hero__buttons {
  display: flex;
  column-gap: 32px;
  margin-top: auto;
}
@media (width <= 767px) {
  .hero__buttons {
    column-gap: 16px;
  }
}
@media (max-width: 549px) {
  .hero__buttons {
    flex-direction: column;
    row-gap: 16px;
  }
}
.hero__socials {
  display: flex;
  column-gap: 8px;
}
.hero__button-submit {
  width: 348px;
  text-decoration: none;
}
@media (width <= 900px) {
  .hero__button-submit {
    width: 100%;
  }
}
.hero__button-social {
  width: 61px;
}
.hero__bg-image {
  z-index: -1;
  top: 50px;
  right: 0;
  transform: translateX(clamp(-100px, (1920px - 100vw) * 0.5, 700px));
}
@media (width <= 1920px) {
  .hero__bg-image {
    transform: translateX(clamp(400px, (1920px - 100vw) * 0.5, 700px));
  }
}
@media (width <= 1178px) {
  .hero__bg-image {
    transform: translateX(clamp(350px, (1920px - 100vw) * 0.5, 200px));
    top: -30px;
    width: 700px;
  }
}

.logo {
  flex-shrink: 0;
}
@media (width <= 1178px) {
  .logo img {
    width: 121px;
  }
}
@media (width <= 1178px) {
  .logo {
    flex-shrink: 1;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  column-gap: 4px;
  border: 1px solid var(--color-accent-blue);
  background-color: var(--color-accent-blue);
  border-radius: 99px;
  color: var(--color-white);
  font-weight: 700;
}
.button--green {
  border: 1px solid var(--color-accent-green-bright);
  background-color: var(--color-accent-green-20);
}
.button--transparent {
  background-color: transparent;
  border: none;
  color: inherit;
}

.block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
.block-title__label {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-black-40);
}
.block-title__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  text-align: center;
}
.block-title__title {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-black);
}
.block-title__caption {
  line-height: 131%;
}

.slider-container {
  overflow: hidden;
  border: 1px solid #c1c7cd;
  border-radius: 20px;
  height: 872px;
}
@media (width <= 1178px) {
  .slider-container {
    height: 680px;
  }
}
@media (width <= 767px) {
  .slider-container {
    height: 486px;
  }
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.slider-pagination-custom {
  display: flex;
  gap: 8px;
}

.pagination-dot {
  width: 14px;
  height: 14px;
  background-color: var(--color-gray-20);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pagination-dot.active {
  background-color: var(--color-black-70);
  width: 38px;
  border-radius: 8px;
}
@media (hover: hover) {
  .pagination-dot:hover {
    background-color: var(--color-black-40);
  }
}
@media (hover: none) {
  .pagination-dot:active {
    background-color: var(--color-black-40);
  }
}

.slider-navigation {
  display: flex;
  gap: 12px;
}

.nav-button {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.nav-button:not(:disabled):hover {
  background: #e0e0e0;
}
.nav-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.nav-button svg {
  width: 20px;
  height: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-color: var(--color-gray-20);
}

.swiper-slide-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-header);
  position: relative;
  z-index: 10;
  background-color: transparent;
}
.burger__line {
  display: block;
  width: 60%;
  height: 2px;
  background-color: #999999;
  box-shadow: 0 -7px 0 #999999, 0 7px #999999;
  transition: all 0.3s ease-in-out;
}
.burger--close {
  background-color: var(--color-white);
}
.card-overlay {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  padding: 24px;
  transition: all 0.3s ease-in-out;
}
@media (width <= 767px) {
  .card-overlay {
    row-gap: 16px;
  }
}
.card-overlay__title {
  height: 40px;
  display: flex;
  align-items: center;
}
.card-overlay__info-list {
  list-style: disc;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.required {
  color: var(--color-red);
}

.input {
  border: 1px solid var(--color-accent-blue-15);
  border-radius: 8px;
  background-color: var(--color-white);
  height: 61px;
  width: 100%;
  padding-inline: 16px;
  transition: all 0.3s ease-in-out;
}

.input::placeholder {
  color: var(--color-black-10);
}

.input:hover {
  border-color: var(--color-accent-blue);
}

.input:focus {
  outline: none;
  border-color: var(--color-accent-blue);
  box-shadow: 0 0 0 3px rgba(76, 111, 255, 0.1);
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (width <= 480px) {
  .checkbox-group {
    flex-direction: column;
  }
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox__input:checked ~ .checkbox__box {
  background-color: var(--color-accent-blue);
  border-color: var(--color-accent-blue);
}
.checkbox__input:checked ~ .checkbox__box::after {
  display: block;
}
.checkbox__box {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-accent-blue);
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  margin-top: 2px;
}
.checkbox__box::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 5px;
  translate: -50% -50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  border-radius: 1px;
  transform: rotate(45deg);
}
.checkbox__label {
  margin-left: 4px;
  font-size: 16px;
  line-height: 1.3;
}

.checkboxes-form-container {
  padding-top: 16px;
  justify-content: space-between;
  gap: 16px;
}
.checkboxes-form-container--row {
  flex-direction: row !important;
}

.footer {
  padding-block: 40px;
  margin-top: var(--container-margin-y);
}
@media (width <= 767px) {
  .footer {
    padding-block: 24px;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
@media (width <= 767px) {
  .footer__content {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__logo {
  width: 220px;
}

.footer__brand {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  row-gap: 64px;
}
@media (width <= 767px) {
  .footer__brand {
    row-gap: 40px;
  }
}

.footer__brand-inner {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 607px;
  width: 100%;
}

.footer__company-inner {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__company-main-details {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer__company {
  font-weight: 700;
}

.footer__company-details {
  color: var(--color-black-70);
}

.footer__contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__contact-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.footer__contact-link {
  color: inherit;
  text-decoration: none;
}

.footer__contact-link:hover {
  color: var(--color-accent-blue);
}

.footer__copyright {
  font-size: 16px;
  line-height: 131%;
  color: var(--color-black-40);
}

.cookies.visible {
  opacity: 1;
  display: flex;
  visibility: visible;
}
.cookies {
  opacity: 0;
  display: none;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--color-accent-green);
  padding-inline: 40px;
  padding-block: 16px;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 93px;
  width: 100vw;
  z-index: 101;
  box-shadow: -1px 1px 2px 0 rgba(89, 89, 89, 0.05), -2px 3px 4px 0 rgba(89, 89, 89, 0.04), -5px 7px 5px 0 rgba(89, 89, 89, 0.03), -9px 13px 6px 0 rgba(89, 89, 89, 0.01), -14px 20px 7px 0 rgba(89, 89, 89, 0);
  transition: all 0.3s ease-in-out;
}
@media (width <= 767px) {
  .cookies {
    flex-direction: column;
    gap: 8px;
  }
}
.cookies__buttons {
  display: flex;
  gap: 16px;
}
@media (width <= 767px) {
  .cookies__buttons {
    align-self: flex-end;
  }
}
.cookies__button {
  padding-inline: 24px;
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.about-gradient-container {
  background: linear-gradient(180deg, #fff 0%, #f4f4f4 54.26%, #fff 100%);
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media (width <= 1178px) {
  .features__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .features__list > *:nth-child(1),
  .features__list > *:nth-child(4) {
    grid-column: 1/-1;
  }
}
@media (width <= 767px) {
  .features__list {
    gap: 16px;
    grid-template-columns: 1fr;
  }
  .features__list > *:nth-child(1),
  .features__list > *:nth-child(4) {
    grid-column: auto;
  }
}
.features__item {
  padding: 32px 16px;
  box-shadow: -1px 1px 2px 0 rgba(89, 89, 89, 0.05), -2px 3px 4px 0 rgba(89, 89, 89, 0.04), -5px 7px 5px 0 rgba(89, 89, 89, 0.03), -9px 13px 6px 0 rgba(89, 89, 89, 0.01), -14px 20px 7px 0 rgba(89, 89, 89, 0);
  border-radius: 16px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  min-height: 195px;
}
.features__item-content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.features__item-content h4 {
  margin: 0;
  font-weight: 500;
}
.features__item-content p {
  line-height: 131%;
  color: var(--color-black-70);
}

.advantages {
  position: relative;
  min-height: 638px;
}
@media (width <= 767px) {
  .advantages {
    min-height: auto;
  }
}
.advantages__bg-image {
  top: 40px;
  right: 0;
  transform: translateX(clamp(0px, (1920px - 100vw) * 0.5, 700px));
}
@media (width <= 1920px) {
  .advantages__bg-image {
    transform: translateX(clamp(100px, (1920px - 100vw) * 0.5, 700px));
  }
}
.advantages__inner {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (width <= 1440px) {
  .advantages__inner {
    max-width: 50%;
  }
}
@media (width <= 767px) {
  .advantages__inner {
    max-width: 100%;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.advantages__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.how-its-work {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.how-its-work__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}
.how-its-work__item {
  width: 1300px;
  border-radius: 16px;
  box-shadow: -1px 1px 2px 0 rgba(89, 89, 89, 0.05), -2px 3px 4px 0 rgba(89, 89, 89, 0.04), -5px 7px 5px 0 rgba(89, 89, 89, 0.03), -9px 13px 6px 0 rgba(89, 89, 89, 0.01), -14px 20px 7px 0 rgba(89, 89, 89, 0);
  background: var(--color-white);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
@media (width <= 1920px) {
  .how-its-work__item {
    width: 1030px;
  }
}
@media (width <= 1440px) {
  .how-its-work__item {
    width: 900px;
  }
}
@media (width <= 1178px) {
  .how-its-work__item {
    width: 740px;
  }
}
@media (width <= 767px) {
  .how-its-work__item {
    width: 100%;
  }
}
.how-its-work__item-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.how-its-work-gradient-container {
  background: linear-gradient(180deg, #fff 0%, #f4f4f4 54.26%, #fff 100%);
}

.module-system {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.module-system__inner {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.module-system__inner-row {
  display: flex;
  gap: 16px;
}
@media (width <= 1178px) {
  .module-system__inner-row {
    flex-wrap: wrap;
  }
}
@media (width <= 767px) {
  .module-system__inner-row {
    flex-direction: column;
  }
}
.module-system__card {
  position: relative;
  border-radius: 16px;
  padding: 24px;
  box-shadow: -1px 8px 19px 0 rgba(79, 94, 104, 0.05), -3px 34px 34px 0 rgba(79, 94, 104, 0.04), -8px 76px 46px 0 rgba(79, 94, 104, 0.03), -14px 134px 54px 0 rgba(79, 94, 104, 0.01), -21px 210px 59px 0 rgba(79, 94, 104, 0);
  background: var(--color-white);
  flex-grow: 1;
  overflow: hidden;
  min-height: 376px;
  max-height: 376px;
}
@media (width <= 767px) {
  .module-system__card {
    min-height: auto;
  }
}
.module-system__card {
  transition: all 0.3s ease-in-out;
}
@media (hover: hover) {
  .module-system__card:hover {
    cursor: pointer;
  }
}
@media (hover: none) {
  .module-system__card:active {
    cursor: pointer;
  }
}
@media (width <= 480px) {
  .module-system__card .module-system__card-overlay {
    font-size: 14px;
  }
}
.module-system__card--prod {
  flex: 5.5;
}
@media (max-width: 620px) {
  .module-system__card--prod {
    max-height: none;
    height: 460px;
  }
}
@media (max-width: 559px) {
  .module-system__card--prod {
    height: 520px;
  }
}
@media (width <= 480px) {
  .module-system__card--prod .module-system__card-image {
    width: 200px;
  }
}
.module-system__card--prod .module-system__card-overlay {
  background-color: var(--color-accent-blue-15);
}
.module-system__card--mon {
  flex: 4.5;
}
.module-system__card--mon .module-system__card-overlay {
  background: var(--color-main-gray-cards);
}
.module-system__card--ai {
  flex: 2.1;
}
.module-system__card--ai .module-system__card-overlay {
  background: var(--color-gray-blue-actions);
}
.module-system__card--lab {
  flex: 4.6;
}
.module-system__card--lab .module-system__card-overlay {
  background: var(--color-accent-green);
}
.module-system__card--agvisio {
  flex: 3.3;
}
.module-system__card--agvisio .module-system__card-overlay {
  background: var(--color-accent-green-20);
}
@media (width <= 1440px) {
  .module-system__card--ai, .module-system__card--lab, .module-system__card--agvisio, .module-system__card--prod, .module-system__card--mon {
    flex: 1;
  }
}
@media (width <= 1178px) {
  .module-system__card--ai, .module-system__card--lab, .module-system__card--agvisio, .module-system__card--prod, .module-system__card--mon {
    flex: 0 1 auto;
    width: 100%;
  }
}
.module-system__card-image {
  flex-shrink: 0;
}
@media (width <= 480px) {
  .module-system__card-image {
    width: 160px;
    flex-shrink: 1;
  }
}
.module-system__card-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.module-system__card:hover .module-system__card-overlay {
  opacity: 1;
}
.module-system__card:active .module-system__card-overlay {
  opacity: 1;
}
.module-system__card-overlay-text {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.module-system__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

.form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}

.form {
  width: 100%;
  max-width: 800px;
  min-height: 455px;
  background: var(--color-white);
  border: 1px solid var(--color-accent-blue-15);
  border-radius: 16px;
  padding: 40px 32px 32px;
  box-shadow: -1px 1px 2px 0 rgba(89, 89, 89, 0.05), -2px 3px 4px 0 rgba(89, 89, 89, 0.04), -5px 7px 5px 0 rgba(89, 89, 89, 0.03), -9px 13px 6px 0 rgba(89, 89, 89, 0.01), -14px 20px 7px 0 rgba(89, 89, 89, 0);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (width <= 767px) {
  .form {
    height: auto;
  }
}
.form__main-inner {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.form__agree .checkbox__label {
  margin-left: 12px;
}

.form__group {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.form__group--large-gap {
  row-gap: 16px;
}

.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
@media (width <= 767px) {
  .form__row {
    grid-template-columns: 1fr;
  }
}

.form__label {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
