@use "helpers" as *;

body {
  background-color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  color: var(--color-main-black);
}

html {
  overflow-x: hidden;
}

a {
  color: var(--color-accent-blue);
}

h2, .h2 {
  font-size: 32px;

  @include mobile {
    font-size: 24px !important;
  }
}

h3, .h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin: 0;
}

h4, .h4 {
  font-size: 24px;

  @include mobile {
    font-size: 20px !important;
  }
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.main > :is(.container, .gradient-container):not(:last-child) {
  margin-bottom: var(--container-margin-y);
}

#about, #how-it-works, #contacts, #video, #form {
  scroll-margin-top: 100px;
}