@use "helpers" as *;

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;

  --color-main-black: #0B1227;
  --color-black-70: #484D5B;
  --color-black-40: #83868F;
  --color-black-10: #C0C1C3;

  --color-accent-blue: #3860D2;
  --color-accent-blue-15: #DFE6F8;

  --color-gray-blue-actions: #A4B4DB;
  --color-gray-20: #DDE1E6;

  --color-accent-green: #ECFFB7;
  --color-accent-green-20: #FAFEEE;
  --color-accent-green-bright: #D9F783;

  --color-main-gray-cards: #E4E4E4;

  --color-red: #D73E3E;

  --container-width: 2220px;
  --container-padding-x: 40px;
  --container-margin-y: 40px;

  @include desktop {
    --container-width: 1360px;
  }

  @include mobile {
    --container-padding-x: 24px;
  }

  @include mobile-s {
    --container-margin-y: 32px;
  }
}