@use "normilize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

@use "blocks/header";
@use "blocks/navigation";
@use "blocks/hero";
@use "blocks/logo";
@use "blocks/button";
@use "blocks/block-title";
@use "blocks/slider";
@use "blocks/burger";
@use "blocks/card-overlay";
@use "blocks/required";
@use "blocks/input";
@use "blocks/footer";

@use "blocks/sections/about";
@use "blocks/sections/features";
@use "blocks/sections/advantages";
@use "blocks/sections/how-its-work";
@use "blocks/sections/module-system";
@use "blocks/sections/form";
