@use "normilize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

@use "blocks/header";
@use "blocks/navigation";
@use "blocks/hero";
@use "blocks/logo";
@use "blocks/button";
@use "blocks/about";
@use "blocks/block-title";
@use "blocks/slider";
@use "blocks/features";