@use "../../helpers/index" as *;

.module-system {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  $cards-gap: 24px;

  @include tablet {
    $cards-gap: 16px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: $cards-gap;
  }

  &__inner-row {
    display: flex;
    gap: $cards-gap;

    @include tablet {
      flex-wrap: wrap;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__card {
    position: relative;
    border-radius: 16px;
    padding: 24px;
    box-shadow: -1px 8px 19px 0 rgba(79, 94, 104, 0.05), -3px 34px 34px 0 rgba(79, 94, 104, 0.04), -8px 76px 46px 0 rgba(79, 94, 104, 0.03), -14px 134px 54px 0 rgba(79, 94, 104, 0.01), -21px 210px 59px 0 rgba(79, 94, 104, 0);
    background: var(--color-white);
    flex-grow: 1;
    overflow: hidden;
    min-height: 376px;
    max-height: 376px;

    @include mobile {
      min-height: auto;
    }

    @include transition;
    @include hover {
      cursor: pointer;
    }

    @include mobile-s {
      .module-system__card-overlay {
        font-size: 14px;
      }
    }

    &--prod {
      flex: 5.5;

      @media (max-width: 620px) {
        max-height: none;
        height: 460px;
      }

      @media (max-width: 559px) {
        height: 520px;
      }

      @include mobile-s {

        .module-system__card-image {
          width: 200px;
        }
      }

      .module-system__card-overlay {
        background-color: var(--color-accent-blue-15);
      }
    }

    &--mon {
      flex: 4.5;

      .module-system__card-overlay {
        background: var(--color-main-gray-cards);
      }
    }

    &--ai {
      flex: 2.1;

      .module-system__card-overlay {
        background: var(--color-gray-blue-actions);
      }

      @include desktop {
      }
    }

    &--lab {
      flex: 4.6;

      .module-system__card-overlay {
        background: var(--color-accent-green);
      }
    }

    &--agvisio {
      flex: 3.3;

      .module-system__card-overlay {
        background: var(--color-accent-green-20);
      }
    }

    &--ai, &--lab, &--agvisio, &--prod, &--mon {
      @include laptop {
        flex: 1;
      }

      @include tablet {
        flex: 0 1 auto;
        width: 100%;
      }
    }
  }

  &__card-image {
    flex-shrink: 0;

    @include mobile-s {
      width: 160px;
      flex-shrink: 1;
    }
  }

  &__card-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__card-overlay {

    .module-system__card:hover & {
      opacity: 1;
    }

    .module-system__card:active & {
      opacity: 1;
    }
  }

  &__card-overlay-text {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  &__card-header {
    @include flex-center-y;
    justify-content: space-between;
    column-gap: 16px;
  }
}