@use "../helpers" as *;

.block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;

  &__label {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--color-black-40);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    text-align: center;
  }

  &__title {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--main-black);
  }

  &__caption {
    line-height: 131%;
  }
}