@use "../helpers" as *;

.button {
  @include flex-center;
  height: 61px;
  column-gap: 4px;
  border: 1px solid var(--color-accent-blue);
  background-color: var(--color-accent-blue);
  border-radius: 99px;
  color: var(--color-white);
  font-weight: 700;
  @include transition;

  &:disabled {
    background-color: var(--color-gray-20);
    border-color: var(--color-gray-20);
    cursor: not-allowed;
  }

  &--green {
    border: 1px solid var(--color-accent-green-bright);
    background-color: var(--color-accent-green-20);
  }

  &--transparent {
    background-color: transparent;
    border: none;
    color: inherit;
  }
}