@use "../helpers" as *;

.card-overlay {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  padding: 24px;
  @include transition;

  @include mobile {
    row-gap: 16px;
  }

  &__title {
    height: 40px;
    @include flex-center-y;
  }

  &__info {

  }

  &__info-list {
    list-style: disc;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
  }
}