@use "../helpers" as *;

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include mobile-s {
    flex-direction: column;
  }
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkbox__box {
      background-color: var(--color-accent-blue);
      border-color: var(--color-accent-blue);

      &::after {
        display: block;
      }
    }
  }

  &__box {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-accent-blue);
    border-radius: 3px;
    background-color: #fff;
    @include transition();
    flex-shrink: 0;
    margin-top: 2px; // значение для выравнивания чекбокса по нижнему краю первой строки текста

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 6px;
      top: 5px;
      translate: -50% -50%;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      border-radius: 1px;
      transform: rotate(45deg);
    }
  }

  &__label {
    margin-left: 4px;
    font-size: 16px;
    line-height: 1.3;
  }
}

.checkboxes-form-container {
  padding-top: 16px;
  justify-content: space-between;
  gap: 16px;

  &--row {
    flex-direction: row !important;
  }
}