@use "../helpers" as *;

.features {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__item {
    padding: 32px 16px;
    box-shadow: -1px 1px 2px 0 rgba(89, 89, 89, 0.05), -2px 3px 4px 0 rgba(89, 89, 89, 0.04), -5px 7px 5px 0 rgba(89, 89, 89, 0.03), -9px 13px 6px 0 rgba(89, 89, 89, 0.01), -14px 20px 7px 0 rgba(89, 89, 89, 0);
    border-radius: 16px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    height: 195px;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    h4 {
      margin: 0;
      font-weight: 500;
    }

    p {
      line-height: 131%;
      color: var(--color-black-70);
    }
  }
}