@use "../helpers" as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding-block: 32px 16px;
  z-index: 10;

  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0% 15%;

  @keyframes scrolling-header {
    to {
      background-color: var(--color-black-40);
    }
  }

  &__inner {
    @include flex-center-y;
    justify-content: space-between;
  }
}
