@use "../helpers" as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 32px;
  padding-bottom: 8px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

body {
  height: 200vh;
}