@use "../helpers" as *;

.hero {
  position: relative;
  padding-block: 90px;

  &__title {
    font-size: 110px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 664px;
    padding-top: 40px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }

  &__caption {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 400;
    line-height: 131%;
    color: var(--color-black-70);
  }

  &__buttons {
    display: flex;
    column-gap: 32px;
    margin-top: auto;

    @include mobile {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__socials {
    display: flex;
    column-gap: 8px;
  }

  &__button-submit {
    width: 348px;
  }

  &__button-social {
    width: 61px;
  }

  &__bg-image {
    top: -85px;
    right: -133px;

    @include desktop-above {
      right: 0;
    }

    @include laptop {
      width: 716px;
    }
  }
}