@use "../helpers" as *;

.hero {
  position: relative;
  padding-block: 90px;

  @include tablet {
    padding-block: 24px;
  }

  &__title {
    font-size: fluid(110, 60);

    &--mobile {
      max-width: 370px;
      line-height: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 664px;
    padding-top: 40px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @include tablet {
      row-gap: 32px;
    }
  }

  &__caption {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 400;
    line-height: 131%;
    color: var(--color-black-70);
  }

  &__buttons {
    display: flex;
    column-gap: 32px;
    margin-top: auto;

    @include mobile {
      column-gap: 16px;
    }

    @include mobile-s {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__socials {
    display: flex;
    column-gap: 8px;
  }

  &__button-submit {
    width: 348px;
    text-decoration: none;

    @include tablet-s {
      width: 100%;
    }
  }

  &__button-social {
    width: 61px;
  }

  &__bg-image {
    z-index: -1;
    top: 90px;
    right: 0;
    transform: translateX(
        clamp(-100px, calc((1920px - 100vw) * 0.5), 700px)
    );

    @include desktop {
      transform: translateX(
          clamp(400px, calc((1920px - 100vw) * 0.5), 700px)
      );
    }

    @include tablet {
      top: -30px;
    }
  }
}