@use "../helpers" as *;

.input {
  border: 1px solid var(--color-accent-blue-15);
  border-radius: 8px;
  background-color: var(--color-white);
  height: 61px;
  width: 100%;
  padding-inline: 16px;
  @include transition;
}

.input::placeholder {
  color: var(--color-black-10);
}

.input:hover {
  border-color: var(--color-accent-blue);
}

.input:focus {
  outline: none;
  border-color: var(--color-accent-blue);
  box-shadow: 0 0 0 3px rgba(76, 111, 255, 0.1);
}