$wide-screen: 2220px;
$desktop: 1920px;
$laptop: 1440px;
$tablet: 1178px;
$mobile: 767px;
$mobile-s: 480px;

@mixin wide-screen-above {
  @media (width > $wide-screen) {
    @content
  }
}

@mixin wide-screen {
  @media (width <= $wide-screen) {
    @content
  }
}

@mixin desktop-above {
  @media (width > $desktop) {
    @content
  }
}

@mixin desktop {
  @media (width <= $desktop) {
    @content
  }
}

@mixin laptop-above {
  @media (width > $laptop) {
    @content
  }
}

@mixin laptop {
  @media (width <= $laptop) {
    @content
  }
}

@mixin tablet-above {
  @media (width > $tablet) {
    @content
  }
}

@mixin tablet {
  @media (width <= $tablet) {
    @content
  }
}

@mixin mobile-above {
  @media (width > $mobile) {
    @content
  }
}

@mixin mobile {
  @media (width <= $mobile) {
    @content
  }
}

@mixin mobile-s-above {
  @media (width > $mobile-s) {
    @content
  }
}

@mixin mobile-s {
  @media (width <= $mobile-s) {
    @content
  }
}